# Ignore Python virtual environment
venv/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

#ignore all .exe file
*.exe

# Ignore the data folder
data/

# Ignore specific large files
data/processed/fake_news_eda.csv
data/processed/fake_news_processed.csv
data/raw/WELFake_Dataset.csv
